@import 'vendor/reset';

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif
}

.btn {
	z-index: 10;

	&#open{
		position: absolute;
		top: 1em;
		left: 1em;
	}
	&#close{
		position: unset;
		float: right;
	}

	// &#open-info{
	// }

	// &#close-info{
	// }

	&.hide{ display: none }

}



#panel{
	overflow-x: hidden;
	z-index: 100;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	background-color:rgba(255,255,255, 0.5);
	padding: 1em;
	transition: left 0.35s ease-in-out
}

#panel.open{
	left: 0;
}

.title{
	font-size: 2em;
	margin: 0.5rem 0 1rem;
}

#projetos li{
	padding-left: 3px;
	border-left-width: 2px;
	border-left-style: solid;
	margin-bottom: 3px;
	margin-top: 3px;
}

#info{
	z-index: 100;
	position: absolute;
	width: 25vw;
	bottom:1em;
	right: 1em;
	padding:1em;
	opacity: 1;
	background-color:rgba(255,255,255, 0.5);
	transition: 1s ease-in opacity;
	&.hidden {
		opacity: 0;
	}
	.project-title {
		font-weight: 700;
		margin: .25rem 0
	}
	p {
		margin: .35rem 0;
		line-height: 1.2
	}
}

#close-info{

}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: grey
}
